@using System.Security.Policy

@model List<MariaMorales.Models.Cliente>
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Clientes</th>
                 <th>Acciones</th>
            </tr>
          
        </thead>
        <tbody>
            @{
                foreach(var cliente in Model)
                {
                    <tr>
                    <td>@cliente.Nombre</td>
                    <td>@cliente.Apellido</td>
                    <td>@cliente.Telefono</td>
                    <td>@cliente.Direccion</td>
                     <td>@cliente.Cedula</td>
                    <td>
                      <a class="btn btn-info" href="@Url.Action("EditarCliente",new {id = cliente.ClienteId})">Editar</a>
                  
                    
                    <a class="btn btn-danger" href="@Url.Action("EliminarCategoria",new {id = cliente.ClienteId})">Eliminar</a>
                    </td>
                    </tr>
                }
              }

          </tbody>
    </table>
</div>

<div>
    <a class="btn alert-success" asp-action="Cliente">agregar nueva</a>
</div>
